<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cryclops.ringpack"
	android:versionCode="6"
	android:versionName="2.1.0"
	>
	
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>
	
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
	
    <application android:icon="@drawable/launcher"
    	android:label="@string/ringActivityName"
    	>
    	
        <activity android:name=".RingActivity"
	        android:label="@string/ringActivityName"
	        android:screenOrientation="portrait"
	        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".RingEditor"
        	android:screenOrientation="portrait"
        	android:label="@string/ringEditorName" />
        
        <activity android:name=".Preferences" android:label="@string/prefName" />
        
        <service android:enabled="true" android:name=".RingService" />
        
        <service android:name=".RingAccessService">
        	<intent-filter>
        		<action android:name="android.accessibilityservice.AccessibilityService" />
        	</intent-filter>
        </service>
        
        <receiver android:name=".RingReceiver" android:enabled="true">
        	<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
			</intent-filter>
        </receiver>
        
        <receiver android:name=".SmsReceiver" android:enabled="true">
        	<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
        </receiver>
        
        <receiver android:name=".RingWidget" android:label="@string/widgetName">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cryclops.ringpack.UPDATE_APPEARANCE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/ringwidget_info" />
        </receiver>

    </application>

</manifest> 